{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "func-names": ["error", "never"],
    "no-console": "off",
    "consistent-return": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
